body {
    background: no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#countdown-box {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 900px;
}

#timer {
    color: #fff;
    font-weight: 500;
}

#timer .container {
    border-collapse: separate;
    border-spacing: 10px 0;
    text-align: center;
}

#timer tr.text td {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-shadow: 1px 1px dimgrey;
}

#timer tr.numbers td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10em;
    line-height: 1em;
    padding: 0 .12em;
    letter-spacing: -5px;
    text-shadow: 2px 2px dimgrey;
}

#final-msg {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    text-shadow: 2px 2px dimgrey;
}
#smiley {
    display: block;
    margin: 0 auto;
}