body {
    background: no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


#countdown-box {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#timer {
    font-weight: 500;
    min-width: 900px;
}

#timer .container {
    border-collapse: separate;
    border-spacing: 10px 0;
    text-align: center;
}

#timer tr.text td {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-shadow: 1px 1px #505050;
}

#timer tr.numbers td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10em;
    line-height: 1em;
    padding: 0 .12em;
    letter-spacing: -5px;
    text-shadow: 2px 2px #505050;
}

#final-msg {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    line-height: 80px;
    text-shadow: 2px 2px #505050;
}
#img {
    display: inline-block;
    margin: 0 auto;
}

#message {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    text-shadow: 2px 2px #505050;
    margin: auto;
    text-align: center;
    min-width: 900px;
}

#auth {
    position: absolute;
    margin: auto;
    bottom: 1em;
    left: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
    text-shadow: 1px 1px #505050;
    letter-spacing: 1px;
}


#source {
letter-spacing: 2px;
color: white;
}

footer {
    position: absolute;
    color: white;
    margin: auto;
    bottom: 1em;
    right: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
    text-shadow: 1px 1px #505050;
    letter-spacing: 1px;
}
footer a {
    color: white;
}

footer span {
    color: red;
    text-shadow: 1px 1px maroon;
}
